.FeaturedProducts{
    margin: 100px 200px;

    .top{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            flex: 3;
             color: gray;
             text-align: justify;
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}